.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

form {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}

.movie {
  padding:10px 20px;
  border:1px solid black;
}